<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Boardgame</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
<h1 style="text-align:center">Something went wrong! </h1>
<h2 style="text-align:center">Save yourself by pressing the button ➪ <a class="btn btn-success" href="gamelist">to safety!</a></h2>

<img alt="kuva" src="/pics/bean.svg" style=" position: absolute; margin-left: 40px; height: 500px">
</body>
</html>