<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gamelist by maker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />    
</head>
<body>
<div class="container">
	<div class="col-ms-4">
	<h2 th:inline="text" style="text-align:center; padding: 10px; margin-top:10px">🏭 Valmistajan pelit:</h2>

	<table class="table table-striped" style="text-align: center">
		<tr>
		    <th>ID</th>
		    <th>Valmistajan nimi</th>
		    <th>Pelin nimi</th>
		    <th>Hinta</th>
		    <th>Julkaisuvuosi</th>
		    <th>Kuvaus</th>
		    <th>Pelaajamäärämäärä</th>
		    <th>Tykkäykset</th>

		</tr>
    	<th:block th:each = "make : ${make}">		
    	 	<tr th:each="game : ${make.game}">
    	 		<td th:text="${game.id}">id </td>
				<td th:text="${game.make.name}">names </td>
				<td th:text="${game.name}">names </td>
				<td th:text="${game.price}">price </td>		
				<td th:text="${game.publishingYear}">pubyear</td>
    			<td th:text="${game.description}">desc</td>
    			<td th:text="${game.gamerAmount}">amount</td>
    			<td th:text="${game.lik}"></td>
			</tr>
           

    	</th:block>
     </table>
     <a class="btn btn-sm btn-light" href="/makelist">Takaisin ⮌</a>
     </div>
     </div> 
</body>
</html>